<!DOCTYPE html>
<html>
    <head>
        <script type="text/javascript" src="//cdnjs.cloudflare.com/ajax/libs/socket.io/1.3.6/socket.io.min.js"></script>
        <script src="{{ url_for('static', filename='index.js') }}"></script>
        <title>ChatterBot</title>
    </head>
    <body>
        {% for channel in channels %}
            <a href="{{ url_for('channel',channel=channel) }}">{{ channel }}</a>
        {% endfor %}


        <p class="channel">Create a new channel</p>
        <form class="channel">
            <input id="channelName" autocomplete="off" autofocus placeholder="Channel" type="text">
            <input type="Create channel">
        </form>

        <form class="message">
            <input id="messageSent" autocomplete="off" autofocus placeholder="message {{ channel }}" type="text">
            <input type="Create channel">
        </form>

    </body>
</html>